.nav{
	background-color: white;
	z-index: 9; 
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15); 
}

.nav_top{
	position: fixed;
	top:0;
	right:0;
	left:0;
}
.logo{
	float: left;
	width: 60%;
}
.logo img{

	width: 40%;
   
}

.nav_side{
	float: right;
	width: 40%;
	margin-top: 40px;
	margin-left: 350px;
}

.nav_side a{
	text-decoration: none;
	margin-right: 20px;
	color: black;
	font-weight: bold;
	font-family: cosmic, sans-serif;
	font-size: 15px;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.nav_side a:hover{
	color:#AD33DA;
	transition: all 0.5s ease;
}

.main{
	background-image: url('image/main.png');
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 95vh;	
}

.main .main-content{
	padding-top: 15%;
	margin-left: 10%;
	margin-right: 10%;

}
.main .main-content h2{
	color: white;
	font-size: 50px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 2px;
}

.main .main-content h2 span{
	
	text-decoration: none;
	color: white;
	font-weight: lighter;
	font-family: cosmic, sans-serif;
	line-height: 20px;
	font-size: 18px;
	font-style: italic;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
}

.main .main-content .btn{
	margin-top: 100px;
	text-align: center;

}

.main .main-content .btn a{
	text-decoration: none;
	margin: 500px;
	padding: 10px 20px;
	background-color: #75fcbe;
	color: black;
	font-family: cosmic, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: 6px 6px #000;
	transition: 0.5s ease;
}

.main .main-content .btn a:hover{
    background-color: #E5CC2E;
    color: white;
    border: none;
    box-shadow: 6px 6px #9F8D21;
    transition: .5s ease;  
}
.product{
	padding-bottom: 50px;
}
.product h2{
	margin-top: 80px;
    color: black;
	font-size: 40px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 5px;
    padding: 20px;
    margin-bottom: 5px;
}

.product .product-container{
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
}

.product .product-container .item{
	width: 33.33%;
	margin: 60px;
	height: auto;
}

.product .product-container .item .item-image{
    width: 100%;
    height: 325px;
    overflow: hidden;
}

.product .product-container .item .item-image img{
	width: 100%;
	height: 325px;
}

.product .product-container .item .item-content{
	text-align: center;
	padding: 20px;
}

.product .product-container .item .item-content h3{
	padding-bottom: 5px;
	font-size: 15px;
	font-weight: bolder;
	font-family: cosmic, sans-serif;
}

.product .product-container .item .item-content p{
	
	padding: 10px;
	font-size: 15px;
	font-weight:bolder;
	font-family: cosmic, sans-serif;
}

.product .product-container .item .item-content a{
    text-decoration: none;
	margin: 50px;
	padding: 5px 10px;
	background-color: #75fcbe;
	color: black;
	font-family: cosmic, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: 6px 6px #000;
	transition: 0.5s ease;	
}

.product .product-container .item .item-content a:hover{
	background-color: #E5CC2E;
    color: white;
    border: none;
    box-shadow: 6px 6px #9F8D21;
    transition: .5s ease;  
}

.product .product-container .item:hover{
	box-shadow: 0px 3px 65px 0px rgba(0,0,0, 0.15);
}

.product .product-btn{
	text-align: center;
	margin-top: 50px;
}

.product .product-btn a{
	text-decoration: none;
	padding: 20px 30px;
	font-size: 20px;
	background-color: #75fcbe;
	color: black;
	font-family: cosmic, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	border: 1px solid transparent;
	border-radius: 2px;
	box-shadow: 6px 6px #000;
	transition: 0.5s ease;	
}

.product .product-btn a:hover{
	background-color: #E5CC2E;
    color: white;
    border: none;
    box-shadow: 6px 6px #9F8D21;
    transition: .5s ease;  
}

.keypoint{
    padding: 50px;
}

.keypoint h2{
	margin-top: 40px;
    color: black;
	font-size: 40px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 5px;
    padding: 10px;
    margin-bottom: 5px;
}


.keypoint .key-container .key-image{
	display: flex;
	width:20%;
	margin-left: 110px;
	padding: 20px;
	
}


.keypoint .key-container .key-image img{
   margin: 30px;
   width: 100%;
}

.testi{
	padding: 50px;
}

.testi h2{
	color: black;
	font-size: 40px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 5px;
	padding: 10px;
	text-transform: uppercase;
}

.testi .testi-container{
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.testi .testi-container .carousel-inner{
    background-color: white;
    box-shadow: none;
}

.testi .testi-container .item{
	padding: 20px;
	background-color: white;
	box-shadow: none;
}

.testi .testi-container .item .item-image{
    width: 100%;
    height: 500px;
    text-align: center;
    overflow: hidden;
}

.testi .testi-container .item .carousel-caption h2{
   font-size: 45px;
   font-family: cosmic, sans-serif;
   color: white;
   font-weight: bolder;
   padding-bottom: 20px;
}

.testi .testi-container .item .carousel-caption p{
	padding-bottom: 300px;
	font-size: 17px;
	font-family: cosmic, sans-serif;
	color: #EDEB84;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.testi .testi-container .item .item-image img{
	width: 100%;
	height: 500px;
	
}

.team{
	padding: 50px;
}

.team h2{
	color: black;
	font-size: 40px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 5px;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.team .team_container{
	display: flex;
}

.team .team_container .team_video{
	width:50%;
	padding: 20px;
}

.team .team_container .team_video iframe{
	width: 100%;
	border: 10px solid #AD33DA;
	outline: none;
}

.team .team_container .team_content{
	width:40%;
	padding: 20px;
	margin-left: 50px;
}

.team .team_container .team_content p{
	padding: 10px;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

.feed{
	padding: 50px;
    background-image: url('image/back_img.jpg');
    background-size: cover;
    height: 80vh;

}

.feed h2{
	color: white;
	font-size: 40px;
	font-family: cosmic, sans-serif;
	font-weight: bolder;
	text-align: center;
	line-height: 10px;	
	letter-spacing: 5px;
	padding: 10px;
	text-transform: uppercase;
}

.feed .feed_form{
	text-align: center;
}

.feed .feed_form form{
	padding: 20px;
}
.feed .feed_form form input{
	width:30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
}

.feed .feed_form form textarea{
	width:30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
}

.feed .feed_form form button{
	width:30%;
	margin: 10px;
	padding: 8px;
	outline: none;
	border: none;
	background-color: #75fcbe;
	color: black;
	border-radius: 5px;
}

.feed .feed_form form button:hover{
	background-color: #E5CC2E;
    color: white;
    border: none;
    transition: .5s ease;
}

footer{
	border: 10px solid #AD33DA;
    background-color: #DAF7A6;
    padding: 50px;
}
footer .flex{
	display: flex;
}
footer .flex1{
	width: 40%;
	margin-left: 360px;
}
footer .pages{
   text-align: center;
   margin-top: -25px;
}

footer .pages h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
	font-weight: bolder;
}

footer .pages a{
	text-decoration: none;
	margin: 10px;
	color: #AD33DA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
    }

footer .pages a:hover{
	color:black;
	transition: all 0.5s ease;
}

footer .doc{
   text-align: center;
}

footer .doc h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding-top: 20px;
	padding-bottom: 7px;
	font-weight: bolder;
}

footer .doc a{
	text-decoration: none;
	margin: 10px;
	color: #AD33DA;
	font-size: 15px;
	font-family: cosmic, sans-serif;
}

footer .doc a:hover{
	color:black;
	transition: all 0.5s ease;
}
footer .flex2{
	width: 40%;
	margin-left: 200px;
}
footer .social{
   text-align: center;
   margin-top: -25px;
}

footer .social h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
	font-weight: bolder;

}

footer .contact{
   text-align: center;
}

footer .contact h3{
	color: black;
	font-size: 20px;
	font-family: cosmic, sans-serif;
	padding: 5px;
	font-weight: bolder;
}

footer .social a{
	font-size: 30px;
	color: #AD33DA;
	margin: 10px;
}

footer .social a:hover{
	color:black;
}

footer .contact a{
	font-size: 30px;
	color: #AD33DA;
	margin: 10px;
}

footer .contact a:hover{
	color:black;
}

